<div mat-dialog-content>{{mensagem}}</div>
<br>
<form class="item-form">
  <mat-form-field class="item-full-width" appearance="fill">
    <mat-label>Código de barras</mat-label>
    <input type="number" autocomplete="off" matInput placeholder="Ex. 123456789" name="barcode" (keyup.enter)="consultar()" [(ngModel)]="barcode">
  </mat-form-field>
  <!-- <mat-form-field class="item-full-width" appearance="fill">
    <mat-label>median</mat-label>
    <input type="number" step="0.01" autocomplete="off" matInput name="median" [(ngModel)]="median">
  </mat-form-field>
  <mat-form-field class="item-full-width" appearance="fill">
    <mat-label>threshold</mat-label>
    <input type="number" step="0.01" autocomplete="off" matInput name="threshold" [(ngModel)]="threshold">
  </mat-form-field> -->
</form>
<div mat-dialog-actions>
  <button id="btnConsultar" *ngIf="externalData != 'retornaBarcode'" color="primary" mat-raised-button (click)="consultar()" matTooltip="Pressione 'Enter' para pesquisar" [disabled]="!barcode || barcode.length == 0 || desabilitarBotaoPesquisar" >Pesquisar</button>
  <button id="btnOk" *ngIf="externalData == 'retornaBarcode'" color="primary" mat-raised-button (click)="enviarBarcode()" matTooltip="Pressione 'Enter' para seguir" [disabled]="!barcode || barcode.length == 0" >Ok</button>
  <button id="btnTentarNovamente" *ngIf="externalData == 'retornaBarcode'" color="warn" mat-raised-button (click)="tentarNovamente()"  [disabled]="!barcode || barcode.length == 0" >Tentar novamente</button>
  <button id="btnFechar" mat-raised-button mat-dialog-close>Cancelar</button>
</div>
<br>
<div class="barcode-scanner">

<barcode-scanner-livestream *ngIf="habilitarCamera" [config]="config"
[deviceId]="estoqueService.cookieCamera"
 [type]="['code_128', 'code_39', 'ean_8', 'ean']"
 (valueChanges)="onValueChanges($event)" (started)="(onStarted)"
 [errorFilter]="{ median: median, threshold: threshold }">
</barcode-scanner-livestream>
</div>
