.mat-dialog-actions {
  justify-content: center;
}
input {
  width: 100%;
}
mat-form-field {
  width: 100%;
}
form {
  width: 100%;
}
.barcode-scanner {
  justify-content: center;
  max-width: 50% !important;
  margin: auto;
  min-width: 240px;
}

button {
  margin: 4px !important;
}
