<div class="profile">
  <div class="profile2" *ngIf="estoqueService.user">
    <img class="profilepic" [src]="estoqueService.user.photoUrl">
    <h1>{{estoqueService.user.firstName || estoqueService.user.name}}</h1>
    <h3>{{estoqueService.loja.name}}</h3>
    <h4>{{estoqueService.loja.description}}</h4>
  </div>

  <span class="spacer"></span>

  <div class="cardsNotif">
    <span class="spacer2"></span>
    <span *ngFor="let aviso of listaAvisos" [matBadge]="aviso.icon" matBadgePosition="before"
      [matBadgeColor]="aviso.color === 'primary' ? 'primary':aviso.color === 'accent' ? 'accent':'warn'"
      class="p80Width">
      <mat-card>
        <div [innerHTML]="aviso.mesage"></div>
        <div class="linhaButtonCard">
          <button class="buttonCard" mat-button aria-label="lido" color="primary" (click)="markAsRead(aviso)">
            <mat-icon>done</mat-icon>
          </button>
        </div>
      </mat-card>
    </span>
  </div>

  <span class="spacer"></span>

  <div class="linhaButton">
    <button mat-raised-button color="accent" matTooltip="Inicie uma nova venda" aria-label="edit"
      (click)="estoqueService.navigateTo('novaVenda')">
      <u>N</u><span>ova venda</span>
    </button>
    <button mat-raised-button color="accent" matTooltip="Consulte o preço de um produto" aria-label="edit"
      (click)="consultaPreco()">
      <u>C</u><span>onsulta preço</span>
    </button>
    <button mat-raised-button color="accent" matTooltip="Veja seu estoque" aria-label="edit"
      (click)="estoqueService.navigateTo('listaEstoque')">
      <u>E</u><span>stoque</span>
    </button>
  </div>
</div>
