<div class="profile">
<img class="profilepic" src="../../assets/icons/profile.png">
<h1>Meu nome</h1>
<h2>Minha loja</h2>
<span class="spacer"></span>
<div class="linhaButton">
  <button mat-flat-button color="accent" aria-label="edit" routerLink="/novaVenda">
    Nova venda
  </button>
  <button mat-flat-button color="accent" aria-label="edit"(click)="consultaPreco()">
    Consulta preço
  </button>
  <button mat-flat-button color="accent" aria-label="edit" routerLink="/listaEstoque">
    Estoque
  </button>
</div>
</div>
