<div class="profile">
  <div class="profile2" *ngIf="auth.user$ | async as user">
    <img class="profilepic" [src]="user.picture">
    <h1>{{user.given_name || user.nickname}}</h1>
    <h2>{{user.email}}</h2>
    <h2>{{estoqueService.loja.name}}</h2>
  </div>
  <span class="spacer"></span>
  <div class="linhaButton">
    <button mat-flat-button color="accent" aria-label="edit" routerLink="/novaVenda">
      Nova venda
    </button>
    <button mat-flat-button color="accent" aria-label="edit" (click)="consultaPreco()">
      Consulta preço
    </button>
    <button mat-flat-button color="accent" aria-label="edit" routerLink="/listaEstoque">
      Estoque
    </button>
  </div>
</div>
