<app-title></app-title>
<div class="loadingSet" *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<router-outlet *ngIf="isAuthenticated && !isLoading"></router-outlet>
<app-login-page *ngIf="!isAuthenticated && !isLoading && !startSignup">Log in</app-login-page>
<app-cadastro-usuario-loja *ngIf="startSignup"></app-cadastro-usuario-loja>


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4703821777267959"
     crossorigin="anonymous"></script>
<!-- base site -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4703821777267959"
     data-ad-slot="1508960582"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>



<!-- login google -->
<!-- <div class="container" style="max-width: 550px"> -->

  <!-- <div class="profile">
    <h1>
      Antes de seguir, faça seu login
    </h1>
  <div class="linhaButton" *ngIf="isLoggedin === false">
  </div>
  </div> -->

  <!-- <button mat-flat-button color="accent" aria-label="login" (click)="loginWithGoogle()">Log in</button>

  <div *ngIf="isAuthenticated === true">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" [value]="estoqueService.user.firstName" id="firstname" readonly>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" [value]="estoqueService.user.lastName" id="lastname" readonly>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" [value]="estoqueService.user.email" id="email" readonly>
    </div>

    <button type="button" (click)="logOut()" class="btn btn-primary">Log Out</button>
  </div>
</div> -->
