<div class="tela">
  <!-- <div id="print-section2"></div> -->
  <div id="print-section">

      <!-- <pre> -->
    <table>
      <tr>
        <td colspan="5" class="tdCenter"><span>{{estoqueService.loja.name}}</span></td>
      </tr>
      <tr>
        <td colspan="5" class="tdCenter"><span>CPF/CNPJ LOJA: {{estoqueService.loja.cnpj}}</span></td>
      </tr>
      <tr>
        <td colspan="5" class="tdCenter"><span>CUPOM FICAL ELETRONICO</span></td>
      </tr>
      <tr *ngIf="cpfCliente.length>10">
        <td colspan="5" class="tdCenter"><span>CPF/CNPJ CONSUM.: {{formataCPF(cpfCliente)}}</span></td>
      </tr>
      <tr>
        <td class="tdLinha" colspan="5">........................................</td>
      </tr>
      <tr>
        <td colspan="5">{{substring("#",3)+"|"}}{{substring("DESCRICAO",13)+"|"}}{{substring("QTD.UN",6)+"|"}}{{substring("VL UNIT",7)+"|"}}{{substring("VL ITEM",7)}}</td>
      </tr>
      <tr>
        <td class="tdLinha" colspan="5">........................................</td>
      </tr>
      <tr *ngFor="let item of dados">
        <td colspan="5">{{substringItem(item.item, 3)}}|{{substring(item.description, 13)}}|{{substring(item.items, 6)}}|{{substringNumber(item.price, 7)}}|{{substringNumber(item.totalPrice, 7)}}</td>
      </tr>
      <tr><td colspan="5">{{substring("TOTAL R$", 8)}}{{substringNumber(valorTotal, 32)}}</td></tr>
      <tr>
        <td class="tdLinha" colspan="5">........................................</td>
      </tr>
      <tr><td colspan="5" class="tdCenter"><span>{{myDate | date: 'dd-MM-yyyy hh:mm:ss a': '' : 'pt-BR'}}</span></td>
      </tr>
      <tr>
        <td class="tdLinha" colspan="5">........................................</td>
      </tr>
    </table>
    <br>
  <!-- </pre> -->
  </div>
  <span class="spacer"></span>
  <span class="linhaButton">
    <form class="item-form">
      <!-- <mat-form-field class="item-full-width" appearance="fill">
        <mat-label>Email para envio</mat-label>
        <input type="email" autocomplete="off" matInput placeholder="Ex. teste@gmail.com" name="email"
          [(ngModel)]="emailCliente">
      </mat-form-field> -->
      <mat-form-field class="item-full-width" appearance="fill">
        <mat-label>Telefone para envio com DDD+Número</mat-label>
        <input type="number" autocomplete="off" matInput placeholder="Ex. 11999998888" name="email"
          [(ngModel)]="telefoneCliente">
      </mat-form-field>
    </form>
  </span>
  <button mat-raised-button color="primary" (click)="enviarWA()">Enviar Whatsapp</button>

</div>
