<div class="tela">
  <!-- <div id="print-section2"></div> -->
  <div id="print-section">

      <!-- <pre> -->
    <table>
      <tr>
        <td colspan="5" class="tdCenter"><span>{{substringCenter(estoqueService.loja.name,40)}}</span></td>
      </tr>
      <tr>
        <td colspan="5" class="tdCenter"><span>{{substringCenter('CPF/CNPJ LOJA: '+estoqueService.loja.cnpj,40)}}</span></td>
      </tr>
      <tr>
        <td colspan="5" class="tdCenter"><span>{{substringCenter('CUPOM FICAL ELETRONICO',40)}}</span></td>
      </tr>
      <tr *ngIf="cpfCliente.length>10">
        <td colspan="5" class="tdCenter"><span>{{substringCenter('CPF/CNPJ CONSUM.: '+formataCPF(cpfCliente),40)}}</span></td>
      </tr>
      <tr>
        <td class="tdLinha" colspan="5">........................................</td>
      </tr>
      <tr>
        <td colspan="5">{{substring("#",3)+"|"}}{{substring("DESCRICAO",13)+"|"}}{{substring("QTD.UN",6)+"|"}}{{substring("VL UNIT",7)+"|"}}{{substring("VL ITEM",7)}}</td>
      </tr>
      <tr>
        <td class="tdLinha" colspan="5">........................................</td>
      </tr>
      <tr *ngFor="let item of dados">
        <td colspan="5">{{substringItem(item.item, 3)}}|{{substring(item.description, 13)}}|{{substring(item.items, 6)}}|{{substringNumber(item.price, 7)}}|{{substringNumber(item.totalPrice, 7)}}</td>
      </tr>
      <tr><td colspan="5">{{substring("TOTAL R$", 8)}}{{substringNumber(valorTotal, 32)}}</td></tr>
      <tr>
        <td class="tdLinha" colspan="5">........................................</td>
      </tr>
      <tr><td colspan="5" class="tdCenter"><span>{{myDate | date: 'dd-MM-yyyy hh:mm:ss a': '' : 'pt-BR'}}</span></td>
      </tr>
      <tr>
        <td class="tdLinha" colspan="5">........................................</td>
      </tr>
    </table>
    <br>
  <!-- </pre> -->
  </div>
  <span class="spacer"></span>
  <span class="linhaButton">
    <form class="item-form">
      <mat-form-field class="item-full-width2" appearance="fill">
        <mat-label>Telefone para envio com DDD+Número</mat-label>
        <input type="number" autocomplete="off" matInput placeholder="Ex. 11999998888" name="email"
          [(ngModel)]="telefoneCliente">
      </mat-form-field>
    </form>
    <button mat-mini-fab color="primary" [disabled]="!telefoneCliente" (click)="enviarWA()">
      <mat-icon>whatsapp</mat-icon>
    </button>
  </span>
  <span class="linhaButton">
    <button mat-mini-fab color="primary" (click)="enviarEmail()">
      <mat-icon>share</mat-icon>
    </button>
  </span>

  <!-- <span class="spacer"></span>
  <span class="linhaButton">
    <form class="item-form">
      <mat-form-field class="item-full-width" appearance="fill">
        <mat-label>Email para envio</mat-label>
        <input type="email" autocomplete="off" matInput placeholder="Ex. email@email.com" name="email"
          [(ngModel)]="telefoneCliente">
      </mat-form-field>
    </form>
  </span> -->
</div>
