<div class="loadingSet" *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<br>
<div *ngIf="!isLoading" class="tela">

  <form class="item-form">
    <mat-form-field appearance="fill" class="item-full-width">
      <mat-label>Aqui você pode mudar a câmera para escanear os códigos</mat-label>
      <mat-select [(ngModel)]="configuracao.camera" name="camera" (selectionChange)="setCamera($event)">
        <mat-option *ngFor="let camera of configuracao.cameras" [value]="camera.deviceId">
          {{camera.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="item-full-width" appearance="fill">
      <mat-label>Veja aqui se o código está digitalizando corretamente</mat-label>
      <input type="number" autocomplete="off" matInput
        disabled
        placeholder="Ex. 123456789" name="description" [(ngModel)]="resultado">
    </mat-form-field>

    <barcode-scanner-livestream class="item-full-width2" [config]="config" [deviceId]="configuracao.camera"
      [type]="['code_128', 'code_39', 'ean_8', 'ean']" (valueChanges)="onValueChanges($event)">
    </barcode-scanner-livestream>
  </form>

  <span class="spacer"></span>
  <div class="buttons">
    <button mat-flat-button color="accent" (click)="salvarItem()">Salvar</button>
  </div>
</div>
